@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  width: 100vw;
}

.container {
  display: grid;
  grid-template: "menu-lateral main-header" "menu-lateral main-page";
}

.main-header {
  grid-area: main-header;
  background: #FDF1EB;
  width: calc(100vw - 220px);
  height: 68px;
  margin-left: 220px;
  padding-left: 36px;
  font-weight: 400;
}
.main-header .main-title {
  margin-top: 8px;
  font-size: 0.875rem;
}
.main-header .text-01 {
  font-size: 1.375rem;
}
.main-header .text-02 {
  font-size: 0.875rem;
}

.logo {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  width: 220px;
  height: 68px;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-lateral {
  grid-area: menu-lateral;
  position: absolute;
  width: 220px;
  height: 2500px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.menu-lateral ul {
  background: #e7e7e7;
}
.menu-lateral ul li {
  background: #ffffff;
  height: 33px;
  font-size: 0.938rem;
  font-weight: 500;
  padding: 8px;
  padding-left: 24px;
  margin-bottom: 3px;
}
.menu-lateral ul li:hover {
  padding-left: 32px;
  background: #FDF1EB;
}

.main-page {
  grid-area: main-page;
  display: grid;
  grid-template: "main-article details" "main-article details" "resumo resumo" "discusoes discusoes";
  margin-left: 220px;
  padding-left: 36px;
}
.main-page article {
  grid-area: main-article;
}
.main-page article h2 {
  color: #ED7839;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  padding-right: 180px;
  margin: 20px 0;
}
.main-page .details {
  grid-area: details;
}
.main-page .details .buttons {
  display: flex;
}
.main-page .details .buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background: #ED7839;
  border-radius: 4px;
  padding: 6px;
  margin: 5px;
}
.main-page .details .buttons p {
  display: inline;
  margin-left: 5px;
}
.main-page .description {
  margin-top: 16px;
  margin-right: 64px;
  color: #5C5C5C;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  border: 1px solid #ECECEC;
}
.main-page .description .subtitle {
  background: #FDF1EB;
  padding: 12px;
}
.main-page .description div {
  padding: 24px;
}
.main-page .description .references {
  font-size: 0.75rem;
}
.main-page .resumo {
  grid-area: resumo;
  width: 80vw;
  color: #5C5C5C;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  border: 1px solid #ECECEC;
  margin-top: 24px;
}
.main-page .resumo .subtitle {
  background: #FDF1EB;
  padding: 12px;
}
.main-page .resumo .text {
  padding: 24px;
}
.main-page .discusoes {
  grid-area: discusoes;
  width: 80vw;
  color: #5C5C5C;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  border: 1px solid #ECECEC;
  margin-top: 24px;
}
.main-page .discusoes .subtitle {
  background: #FDF1EB;
  padding: 12px;
}
.main-page .discusoes .text {
  padding: 24px;
}/*# sourceMappingURL=style.css.map */